{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "extends": ["react-app"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "max-len": ["error", {"code": 120}],
    "prefer-promise-reject-errors": ["off"],
    "react/jsx-filename-extension": ["off"],
    "react/prop-types": ["warn"],
    "no-return-assign": ["off"],
    "quotes": [2, "single", { "avoidEscape": true }],
    "semi":"error",
    "comma-dangle": ["error", {
      "arrays": "always"
    }],
    "indent": [2, 2],
    "eol-last": ["error", "always"]
  }
}