.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

.wrapper form {
  border-radius: 20px;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
}
