.avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: rgb(55, 188, 206);
  margin:auto auto auto auto;
  width: 180px;
  height: 180px;
  box-shadow: 0 0 20px rgb(4, 236, 109);
  line-height: 180px;
  text-align: inherit;
}

.appoitmen-camara {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  margin: 20px auto auto;
  width: 900px;
  height: 450px;
  border:  rgb(55, 188, 206) 8px groove;
}

.patient-Info-Container {
  background-color: #61dafb;
  margin-top: 10px;
}

.rg-appointment-Container {
  height: 53vh;
  margin-top: 10px;
}

.patient-record-container {
  background-color: rgb(229, 235, 238);
  margin: 50px;
  border: ridge;
}

.button {
  display: block;
  margin: 140px auto auto auto;
}

.button-avatar {
  border-radius: 100%;
  background-color: gray;
}

.button-photo {
  display: block;
  margin: 10px auto auto;
  margin-bottom: 30px;
}

.global {
  height: 40vh;
  border: 1px solid #ddd;
  background: #f1f1f1;
  overflow-y: scroll;
}

.mensajes {
  height: auto;
}


