.avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: ridge;
  border-radius: 100%;
  background-color: rgb(55, 188, 206);
  margin: 20px auto auto;
  width: 180px;
  height: 180px;
}

.patient-Info-Container {
  background-color: #61dafb;
  height: 45vh;
  margin-top: 10px;
}

.rg-appointment-Container {
  height: 50vh;
  margin-top: 10px;
  margin-bottom: 10px;
}

.patient-record-container {
  background-color: rgb(229, 235, 238);
  margin: 50px;
  border: ridge;
}

.button {
  display: block;
  margin: 140px auto auto auto;
}

.button-avatar {
  border-radius: 100%;
  background-color: gray;
}

.button-photo {
  display: block;
  margin: 10px auto auto;
  margin-bottom: 30px;
}

.global {
  height: 40vh;
  border: 1px solid #ddd;
  background: #f1f1f1;
  overflow-y: scroll;
}

.mensajes {
  height: auto;
}

.texto {
  padding: 4px;
  background: #fff;
}

